<h1><%= @gallery.title %></h1>

<div class="paintings">
<% @paintings.each do |painting| %>
<div class="gallery"><div class="thumb">
<h3><%= painting.title %></h3><br>
<%= link_to image_tag(painting.image_url(:thumb).to_s), gallery_painting_path(@gallery, painting)  %><br><br>
<small><%= link_to 'Edit', edit_gallery_painting_path(@gallery, painting) %></small>
<small><%= link_to 'Delete', gallery_painting_path(@gallery, painting), method: :delete, data: {confirm: 'Are you sure?' } %></small>
</div></div>
<% end %>
</div>
<br><br>
<%= render 'paintings/form' %>
<%= link_to "Create Painting", new_gallery_painting_path(@gallery) %>
<%= link_to 'Back', galleries_path %>